## Preprocessing

In this optimization_v1 code, the following changes were made:
- More layers were added to the nn model to create seven layers, however, accuracy did not increase
- As a result, also considering the keras model, the hidden layers were reduced to only one
- Epochs value was set to 50

In [53]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import sklearn as skl

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [54]:
# Checking to see all the columns
list(application_df.columns)

['EIN',
 'NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS',
 'ASK_AMT',
 'IS_SUCCESSFUL']

In [55]:
#Checking to see the unique values count for special_considerations
application_df["SPECIAL_CONSIDERATIONS"].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [56]:
# Look at STATUS value counts for potential drop
application_df["STATUS"].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [57]:
# Drop the non-beneficial ID columns, 'EIN', 'NAME' and 'SPECIAL_CONSIDERATIONS'
application_df = application_df.drop(["EIN","NAME","SPECIAL_CONSIDERATIONS","STATUS"],1)
application_df.head()

C:\Users\ezgib\AppData\Local\Temp\ipykernel_20588\2172481517.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(["EIN","NAME","SPECIAL_CONSIDERATIONS","STATUS"],1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [58]:
# Re-checking to see all the columns
list(application_df.columns)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'ASK_AMT',
 'IS_SUCCESSFUL']

In [59]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [60]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [61]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T9","T13","T12","T2","T25","T14","T29","T15","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [62]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [63]:
#Checking to see the unique values count for special_considerations
application_df["AFFILIATION"].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [64]:
# Choose a cutoff value and create a list of affliation types to be replaced
# use the variable name `affliation_types_to_replace`
affliation_types_to_replace = ["Family/Parent", "National", "Regional", "Other"]

# Replace in dataframe
for aff in affliation_types_to_replace:
    application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(aff,"Other")

# Check to make sure binning was successful
application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Other                 114
Name: AFFILIATION, dtype: int64

In [65]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [66]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts.loc[classification_counts < 1800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [67]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [68]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [69]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [70]:
len(X_train[0])

37

## Compile, Train and Evaluate the Model

In [160]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=50,
        step=5), activation=activation, input_dim=len(X_train[0])))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=40,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [161]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

INFO:tensorflow:Reloading Tuner from .\untitled_project\tuner0.json

In [162]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

INFO:tensorflow:Oracle triggered exit

In [163]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 1,
 'num_layers': 1,
 'units_0': 37,
 'units_1': 9,
 'units_2': 1,
 'units_3': 1,
 'units_4': 17,
 'units_5': 37,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [66]:
best_hyper3 = tuner.get_best_hyperparameters(10)[0]
best_hyper3.values

{'activation': 'sigmoid',
 'first_units': 1,
 'num_layers': 1,
 'units_0': 37,
 'units_1': 9,
 'units_2': 1,
 'units_3': 1,
 'units_4': 17,
 'units_5': 37,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [157]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  37
#hidden_nodes_layer2 = 20
#hidden_nodes_layer3 = 20
#hidden_nodes_layer4 = 15
#hidden_nodes_layer5 = 15
#hidden_nodes_layer6 = 10
#hidden_nodes_layer7 = 5

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
#nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
#nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Forth hidden layer
#nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Fifth hidden layer
#nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer5, activation="relu"))

# Sixth hidden layer
#nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer6, activation="relu"))

# Seventh hidden layer
#nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer7, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_25"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_136 (Dense)           (None, 37)                1406

 dense_137 (Dense)           (None, 1)                 38

=================================================================
Total params: 1,444
Trainable params: 1,444
Non-trainable params: 0
_________________________________________________________________

In [158]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [159]:
# Train the model
fit_model = nn_model.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5785 - accuracy: 0.7143
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5569 - accuracy: 0.7292
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5538 - accuracy: 0.7290
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5517 - accuracy: 0.7289
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7306
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7313
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5496 - accuracy: 0.7316
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5485 - accuracy: 0.7331
Epoch 9/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5485 - accuracy: 0.7314
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7329
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7329
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5472 - accuracy: 0.7322
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5473 - accuracy: 0.7327
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5469 - accuracy: 0.7325
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7329
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5465 - accuracy: 0.7328
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7332
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - accuracy: 0.7343
Epoch 19/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5455 - accuracy: 0.7334
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - accuracy: 0.7336
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - accuracy: 0.7340
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5455 - accuracy: 0.7330
Epoch 23/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5449 - accuracy: 0.7337
Epoch 24/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5452 - accuracy: 0.7331
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7348
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5450 - accuracy: 0.7340
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7346
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7343
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7345
Epoch 30/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5443 - accuracy: 0.7338
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7336
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7342
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7334
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7340
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7342
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7339
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7340
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7342
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7337
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7345
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5436 - accuracy: 0.7355
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5439 - accuracy: 0.7349
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7343
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5435 - accuracy: 0.7356
Epoch 45/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5428 - accuracy: 0.7344
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5433 - accuracy: 0.7353
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5432 - accuracy: 0.7351
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7354
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7329
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7353

In [160]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5533 - accuracy: 0.7313 - 599ms/epoch - 2ms/step
Loss: 0.5532953143119812, Accuracy: 0.7313119769096375

In [161]:
# Export our model to HDF5 file
nn_model.save_weights('AlphabetSoupCharity_Optimization4.h5')